/* general styles*/
@font-face {
    font-family: tes;
    src: url(/fonts/teslafont.ttf);
}

body{
    grid: 1fr;
    margin:0px;
    font-family: 'Rubik', sans-serif;
}
.overall{
    display: grid;
    grid-template-rows: 6;
    margin: 0px;
}

/*Navigation bar styles*/
.nav{
    display: flex;
    justify-content: space-between;
    font-family:'Karla', sans-serif;
    margin-top: 10px;
    position: fixed;
    top:0;
    width:100%;
    z-index: 9999;
}

a{
    text-decoration: none;
}
.left-side {
    padding: 6px;
    margin-left: 40px;
    font-size: larger;
}
.left-side a{
    font-family: tes;
    color:black;
}
.middle-side {
    display: flex;
    position: relative;
    left: 28px;
    
}
.middle-side a:hover, .right-side a:hover{
    border-radius: 25px;
    background-color: rgb(178, 191, 194);
    transition: 1.2s;
}
.middle-side a{
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
}

.right-side{
    display: flex;
    margin-right: 10px;
}
.right-side a{
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
}
#mobilemenu{
    display: none;
}
@media only screen and (min-width: 220px) and (max-width: 830px) {
    .left-side {
        padding: 6px;
        margin-left: 20px;
        font-size: larger;
    }
    .middle-side, .right-side .rs {
        display: none;
    }
    #menu{
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(192,192,192,0.2);
        border-radius: 14px;
        font-weight: bolder;
        color: rgb(22, 22, 22);
    }
  
}
/*Page content styles*/
.main{
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
}
.h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
}
.h1, .order{
    display: flex;
    justify-content: center;
    
}
.order{
    transform: translate(0px,10px);
}
.order a{
    margin-left: 4px;
    border-bottom: 1px solid;
    color: #000;
}
.custom-inventory{
    display: flex;
    justify-content: center;
    column-gap: 1%;
}
.custom-inventory a{
    position: relative;
    top: 55vh;
    
}
.custom{
    color: white;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: smaller;
}
.inventory{
    color: black;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: smaller;
}
@media only screen and (min-width: 220px) and (max-width: 830px) {
    .custom-inventory{
        display: grid;
        justify-content: center;
    }

}
/*Background Image styles*/

.container1 {
    background-image: url("/images/model3.jfif");
    position: absolute;
}
.container2{
    background-image: url("/images/ModelY.jfif");
}
.container3{
    background-image: url("/images/models.jfif");
}
.container4{
    background-image: url("/images/ModelX.jfif");
}
.container5{
    background-image: url("/images/solarpanels.jfif");
}
.container6{
    background-image: url("/images/solarroof.jfif");
}
.container7{
    background-image: url("/images/accessories.jfif");
}

.conts{
    background-position: 50% 50%;
    background-color: #ccc;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
@media only screen and (min-width: 220px) and (max-width: 830px) {
    .custom-inventory{
        display: grid;
        row-gap: 10%;
        justify-content: center;
    }
    .container1 {
        background-image: url("/images/M3HomepageM.jpeg");

    }
    .container2{
        background: url("/images/modelyhomepagem6.jpg"); 
    }
    .container3{
        background-image: url("/images/mshomepagemobile.jpeg");
    }
    .container4{
        background-image: url("/images/ModelXHomepageM.jpeg");
    }
    .container5{
        background-image: url("/images/HPSolarPanelsM.jpeg");
    }
    .container6{
        background-image: url("/images/HPSRDesignM1.jpg");  
    }
    .container7{
        background-image: url("/images/MobileAccessories.jpeg");
    }
    .container1,.container2,.container3,.container4,.container5,.container6,.container7{
        object-fit: contain;
        height: 100vh;
    }

}
/*Footer styles*/
#footer{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 0.85em;
}
#footer a{
    padding-bottom: 30px;
    padding-left: 15px;
    color: rgb(88, 88, 88);
}
#VR{
    display: none;
}
@media only screen and (min-width: 220px) and (max-width: 830px) {
    #footer{
        display: grid;
        font-size: 0.75em;
        margin: 0;
        margin-bottom: 40px;

    }
    #footer a{
        padding-bottom: 10px;
        color: rgb(88, 88, 88);
        margin-left: auto;
        margin-right: auto;
    }
    #VR{
        display: unset;
    }
    #En, #Lo, #Co{
        display: none;
    }
}

/*floating scroll to top*/
#f-container {
    display: grid;
}
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 10vh;
    right: 49vw;
    margin-right: auto;
    margin-left: auto;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
}
  
#scrollBtn:hover {
    opacity: 0.6;
    
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.up {
    color: #000;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

@media only screen and (min-width: 220px) and (max-width: 830px) {
    #scrollBtn {
        bottom: 25vh;
        right: 46vw;
    }


}
  

 